<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumi Carburante</title>

    <link href="https://gestionece.github.io/resources/img/favicon.png" rel="shortcut icon" type="image/png">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <style>
        *:focus {
            outline: none;
        }

        .noselect {
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently supported by Chrome and Opera */
        }

        html {
            background: url(https://picsum.photos/1920/1080?random) no-repeat center fixed;
            background-size: cover;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .blur {
            background-color: rgb(0 0 0 / 80%);
            border-radius: 3px;
            padding: 10px;
            margin-top: 50px;
            color: #ffffff;

            opacity: 1;/*0.8;*/
        }

        /*.blur:hover {
            opacity: 1;
        }*/

        .pointer {
            cursor: pointer;
        }

        .pointer:hover {
            color: #00b0ff;
            /*#4CAF50;*/
        }

        .center {
            text-align: center;
        }

        @media only screen and (max-width: 600px) {
            #app {
                display: none;
            }
        }
    </style>
</head>

<body>
    <!-- App -->
    <div id="app" style="display: none;" v-show="loadVue">
        <div class="container">
            <section v-if="page_loadFile" class="blur noselect">
                <div class="row">
                    <h2>Calcolo consumi di carburante</h2>
                    <p class="flow-text"><i>Serve per vedere in dettaglio i consumi e i chilometri di un mezzo azziendale.<br>
                        Il simbolo <span class="material-icons">report_problem</span> 
                        indica che nel calcolo dei chilometri ci sono problemi, quindi il risultato è approsimativo o sbagliato.</i>
                    </p>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <div class="waves-effect waves-light btn light-blue accent-3"
                            v-bind:class="{'pulse': (btnLoad_isDisabled != true)}" :disabled='btnLoad_isDisabled'>
                            <span><i class="material-icons left">file_upload</i>Load</span>
                            <input @change="loadFile($event.target.files[0])" type="file"
                                accept=".xls, .xlsx, .xlsm, .csv">
                        </div>
                    </div>
                </div>
                <div v-if="page_CpList_loader" class="row">
                    <div class="progress">
                        <div class="indeterminate light-blue accent-3"></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container" style="padding-bottom: 50px;">
            <div v-if="page_CpList" class="blur z-depth-2">
                <div class="row">
                    <div class="col s12">
                        <div class="col-content">
                            <p class="flow-text noselect"><i>{{selectedFile_name}}</i></p>

                            <table class="z-depth-1 grey darken-3" style="border-radius: 3px;">
                                <!--highlight-->
                                <thead class="noselect">
                                    <tr>
                                        <th class="noselect center light-blue-text text-accent-3">Tipo</th>
                                        <th class="noselect center light-blue-text text-accent-3">Chilometri</th>
                                        <th class="noselect center light-blue-text text-accent-3">Litri</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="tot in CpTot">
                                        <td class="noselect center">{{tot[0]}}</td>
                                        <td class="noselect center">{{tot[1]}}</td>
                                        <td class="noselect center">{{tot[2]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p class="flow-text noselect"><i>Dettaglio per Targa</i></p>

                            <table class="z-depth-1 grey darken-3" style="border-radius: 3px;">
                                <!--highlight-->
                                <thead class="noselect">
                                    <tr>
                                        <th class="pointer noselect"></th>
                                        <th class="pointer noselect" v-on:click="SorteTable(1)">&emsp;Targa
                                            <i v-if="Math.abs(sort) == 1"
                                                class="tiny material-icons">{{((Math.sign(sort) == 1) ? 'expand_less'
                                                : 'expand_more')}}
                                            </i>
                                            <i v-else class="tiny material-icons">unfold_more</i>
                                        </th>
                                        <th class="pointer noselect" v-on:click="SorteTable(2)">&emsp;Data Inizio
                                            <i v-if="Math.abs(sort) == 2"
                                                class="tiny material-icons">{{((Math.sign(sort) == 1) ? 'expand_less'
                                                : 'expand_more')}}
                                            </i>
                                            <i v-else class="tiny material-icons">unfold_more</i>
                                        </th>
                                        <th class="pointer noselect" v-on:click="SorteTable(3)">&emsp;Data Fine
                                            <i v-if="Math.abs(sort) == 3"
                                                class="tiny material-icons">{{((Math.sign(sort) == 1) ? 'expand_less'
                                                : 'expand_more')}}
                                            </i>
                                            <i v-else class="tiny material-icons">unfold_more</i>
                                        </th>
                                        <th class="noselect pointer center" v-on:click="SorteTableN(4)">Chilometri
                                            <i v-if="Math.abs(sort) == 4"
                                                class="tiny material-icons">{{((Math.sign(sort) == 1) ? 'expand_less'
                                                : 'expand_more')}}
                                            </i>
                                            <i v-else class="tiny material-icons">unfold_more</i>
                                        </th>
                                        <th class="noselect pointer center" v-on:click="SorteTableN(6)">Error Km
                                            <i v-if="Math.abs(sort) == 6"
                                                class="tiny material-icons">{{((Math.sign(sort) == 1) ? 'expand_less'
                                                : 'expand_more')}}
                                            </i>
                                            <i v-else class="tiny material-icons">unfold_more</i>
                                        </th>
                                        <th class="noselect pointer center" v-on:click="SorteTableN(5)">Litri
                                            <i v-if="Math.abs(sort) == 5"
                                                class="tiny material-icons">{{((Math.sign(sort) == 1) ? 'expand_less'
                                                : 'expand_more')}}
                                            </i>
                                            <i v-else class="tiny material-icons">unfold_more</i>
                                        </th>
                                        <th class="noselect pointer center" v-on:click="SorteTableN(7)">Importo
                                            <i v-if="Math.abs(sort) == 7"
                                                class="tiny material-icons">{{((Math.sign(sort) == 1) ? 'expand_less'
                                                : 'expand_more')}}
                                            </i>
                                            <i v-else class="tiny material-icons">unfold_more</i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="tg in CpTable">
                                        <td class="noselect center">
                                            <i class="tiny material-icons">{{((tg[0].substring(0, 3) == 'CIS') ? 'local_gas_station'
                                                : 'local_shipping')}}
                                            </i>
                                        </td>
                                        <td>&emsp;{{tg[0]}}</td>
                                        <td class="noselect">&emsp;{{tg[1]}}</td>
                                        <td class="noselect">&emsp;{{tg[2]}}</td>
                                        <td class="noselect center">{{tg[3]}} Km</td>
                                        <td class="noselect center">
                                            <i v-if="tg[5] == true" class="tiny material-icons">report_problem</i>
                                        </td>
                                        <td class="noselect center">{{tg[4]}} l</td>
                                        <td class="noselect center">{{tg[6]}} €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="col-content">
                            <div class="file-field input-field noselect">
                                <div class="waves-effect waves-light btn light-blue accent-3" v-on:click="backLCList">
                                    <i class="material-icons left">navigate_before</i>Back
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="resource/js/main.js"></script>
</body>

</html>